<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Wrapsy"
        tools:targetApi="31">
        <activity
            android:name=".CardInformationAddCardActivity"
            android:exported="false" />
        <activity
            android:name=".ChooseCardActivity"
            android:exported="false" />
        <activity
            android:name=".BasketActivity"
            android:exported="false" />
        <activity
            android:name=".ProfileListInfoActivity"
            android:exported="false" />
        <activity
            android:name=".profileNewList"
            android:exported="false" />
        <activity
            android:name=".PlantillaStoreActivity"
            android:exported="false" />
        <activity
            android:name=".ReviewsActivity"
            android:exported="false" />
        <activity
            android:name=".SendInviteActivity"
            android:exported="false" />
        <activity
            android:name=".ShareWithFriendsActivity"
            android:exported="false" />
        <activity
            android:name=".ProductDetailActivity"
            android:exported="false" />
        <activity
            android:name=".OrderDetailsActivity"
            android:exported="false" />
        <activity
            android:name=".Profilelists"
            android:exported="false" />
        <activity
            android:name=".ProfileEditProfile"
            android:exported="false" />
        <activity
            android:name=".ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".RecommendedGiftsActivity"
            android:exported="false" />
        <activity
            android:name=".OrdersActivity"
            android:exported="false" />
        <activity
            android:name=".SaveItemMyListsActivity"
            android:exported="false" />
        <activity
            android:name=".SaveItemActivity"
            android:exported="false" />
        <activity
            android:name=".CouponsActivity"
            android:exported="false" />
        <activity
            android:name=".NotificationsActivity"
            android:exported="false" />
        <activity
            android:name=".AboutUs"
            android:exported="false" />
        <activity
            android:name=".MoreOptionspaymentOptions"
            android:exported="false" />
        <activity
            android:name=".moreOptionspurchaseHistory"
            android:exported="false" />
        <activity
            android:name=".moreOptions"
            android:exported="false" />
        <activity
            android:name=".GiftQuizStep3Activity"
            android:exported="false" />
        <activity
            android:name=".GiftQuizStep2Activity"
            android:exported="false" />
        <activity
            android:name=".GiftQuizEndActivity"
            android:exported="false" />
        <activity
            android:name=".GiftQuizStep1Activity"
            android:exported="false" />
        <activity
            android:name=".PerfectGiftQuizActivity"
            android:exported="false" />
        <activity
            android:name=".LogIn"
            android:exported="false" />
        <activity
            android:name=".SingUpAdress"
            android:exported="false" />
        <activity
            android:name=".SingUp"
            android:exported="false" />
        <activity
            android:name=".StoresActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>